@import "tailwindcss";

@theme {
  --font-sans: "Inter", "outfit", Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 antialiased;
  }
}